body {
  margin: 0;
  font-family: Helvetica;
}

h1 {
  font-family: 'Anton', Helvetica;
}

.heading {
  width: 100%;
  height: 300px;
  margin: 0 0 0 0;
}

/*--Left Column Stylings--*/

.column1 {
  width: 35%;
  float: left;
  position: relative;
  border-bottom: 1px solid #cacaca;
}

.logo {
  float: right;
  background-color: #fff;
  width: 75px;
  height: 75px;
  border: 2px solid #000;
  border-radius: 50px;
  margin: -40px 0 0 0;
}

.column1 h1 {
  clear: right;
  width: 100%;
  text-align: right;
}

.column1 h2 {
  text-align: right;
  width: 100%;
}

/*--Right Column Stylings--*/

.column2 {
  width: 65%;
  float: left;
}
