body {
  margin: 0;
  font-family: Helvetica;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #000099;
  font-weight: bold;
}

a:visited {
  color: #1a1a1a;
}

a:hover {
  color: #0000e6;
}

h1, h2 {
  font-family: 'Anton', Impact;
  color: #1a1a1a;
}

.logo {
  background-color: #eee;
  width: 75px;
  height: 75px;
  border: 2px solid #1a1a1a;
  border-radius: 50px;
}

/*--Header Stylings--*/

header {
  background-image: url(../images/wrestling-crowd.jpg);
  background-position: center;
  width: 100%;
  height: 310px;
  border-bottom: 10px solid #1a1a1a
}

/*--Left Column Stylings--*/

.column1 {
  width: 30%;
  float: left;
  position: relative;
  margin-right: 15px;
}

.column1 .logo {
  float: right;
  margin: -45px 0 0 0;
}

.column1 h1 {
  font-size: 3rem;
  clear: right;
  width: 100%;
  text-align: right;
  text-shadow: #1a1a1a 1px 1px 2px;
}

.intro {
  position: absolute;
  right: 0;
  border-bottom: 1px solid #cacaca;
}

.intro h2 {
  text-align: right;
  max-width: 200px;
}

/*--Right Column Stylings--*/

.column2 {
  width: 60%;
  float: left;
  position: relative;
  margin-left: 15px;
}

.articleName h1:first-child {
  font-size: 3rem;
  margin-bottom: 5px;
  text-shadow: #1a1a1a 1px 1px 2px;
}

.articleName small {
  font-style: italic;
  font-size: .9rem;
  color: #222;
}

.articleContent {
  position: absolute;
  left: 0;
  border-bottom: 1px solid #cacaca;
}

.articleContent p {
  text-align: left;
  max-width: 500px;
}

.articleContent img {
  width: 60%;
  height: auto;
  margin-top: 5px;
  border: 1px solid #1a1a1a;
  border-radius: 2px;
  /*box-shadow: 3px 3px 0 0 #222;*/
}

/*--Footer Styling--*/

.reminder {
  height: 105px;
  width: 400px;
  background-color: #eee;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  position: fixed;
  bottom: 5px;
  right: 10px;
  box-shadow: 0 16px 32px 0 #1a1a1a;
}

.footerHeadline {
  font-weight: bold;
  width: 100%;
  float: left;
  border-bottom: 1px solid #1a1a1a;
}

.footerHeadline p {
  margin: 5px 0 0 10px;
}

.footerContent img {
  clear: left;
  float: left;
  margin: 1px 3px 1px 10px;
}

.footerContent h1 {
  font-size: 1.5rem;
  margin: 3px 0 5px 2px;
}

.footerContent p {
  font-size: .9rem;
  margin: 0 0 0 2px;
  /*max-width: 100px;*/
}

.followButton {
  float: right;
  height: 75px;
  width: 100px;
  background-color: #0000e6;
  border: 1px solid #262626;
  border-radius: 15px;
  margin: 1px 3px 1px 10px;
  text-align: center;
  position: relative;
  box-shadow: inset 0 -6px 5px 0 #1a1a1a;
}

.followButton div:only-child {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  padding: 15px 20px;
  margin: -30% 0 0 -60%;
  color: #fff;
}

/*--INTERACTIVITY!--*/

.articleContent img:hover {
  box-shadow: 5px 5px 6px 2px #3c3c3c;
  margin: -5px 0 10px -5px;
}


.followButton:hover {
  background-color: #000099;
  box-shadow: inset 0 8px 16px 0 #1a1a1a;
}
